.Authorization{
  &__inputs {
    display: flex;
    flex-direction: column;
    &__input {
      background: white;
      color: red;
    }
  }
  &__button_continue{
    background: white;
    width: 100%;
  }
}
